.banner-button-container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  
  .banner-button {
    background-color: #ff914d;
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }
  
  .banner-button:hover {
    background-color: #ff731d;
  }
  